<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body class="bg-white font-family-karla h-screen">

<div class="w-full flex flex-wrap">

    <!-- Register Section -->
    <div class="w-full md:w-1/2 flex flex-col">

        <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
            <a href="#" class="text-white font-bold text-xl p-4">
                <img th:src="@{/images/logo.png}" width="50" alt="Logo"/>
            </a>
        </div>

        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl">Join Us.</p>
            <h2 class="text-center"><span class="text-blue-900" th:utext="${successMessage}"></span></h2>
            <form class="flex flex-col pt-3 md:pt-8" autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post">
                <div class="flex flex-col pt-4">
                    <label for="name" class="text-lg">Name</label>
                    <input type="text" id="name" th:field="*{name}" placeholder="Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 validation-message"></label>
                </div>

                <div class="flex flex-col pt-4">
                    <label for="name" class="text-lg">last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Last Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-red-500 validation-message"></label>
                </div>

                <div class="flex flex-col pt-4">
                    <label for="email" class="text-lg">Email</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 validation-message"></label>
                </div>

                <div class="flex flex-col pt-4">
                    <label for="password" class="text-lg">Password</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-500 validation-message"></label>
                </div>

                <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">

            </form>
            <div class="text-center pt-12 pb-12">
                <form th:action="@{/}" method="get">
                    Already have an account? <button class="bg-black text-white px-2" type="Submit">Log in here.</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
    </div>
</div>

</body>
</html>